@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.sidebar {
    width: 300px;
    min-width: 300px;
    border-right: 1px solid #ccc;
    align-self: stretch;
    background-color: #111b21;
    color: white;
    display: flex;
    flex-direction: column;
}

.contacts-list {
    overflow-y: auto;
    flex: 3;
}

.contacts-list::-webkit-scrollbar {
    width: 6px;
}

.contacts-list::-webkit-scrollbar-track {
    background: #111b21;
}

.contacts-list::-webkit-scrollbar-thumb {
    background: #374045;
    border-radius: 3px;
}

.contact-item {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 1;
}

.contact-last-message {
    margin:0;
    color: gray;
}

.contact-avatar{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.search-container {
    padding: 5px;
    background-color: #111b21; 
}

.search-input {
    width: 90%;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #2E2F2F;
    color: #ABAC98; 
}

.search-input::placeholder {
    color: #8696a0;
}

.no-results {
    padding: 20px;
    text-align: center;
    color: #667781;
}


.contact-name {
    font-weight: 600;
    color: white; 
}

.search-wrapper {
    display: flex;
    align-items: center;
    background-color: #2E2F2F;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
}

.search-icon {
    color: #8696a0;
    margin-right: 5px;
    font-size: 14px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    background-color: #202c33;
    border-top: 1px solid #374045;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #00a884;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}