@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.sidebar {
    width: 300px;
    min-width: 300px;
    border-radius: 1px solid #ccc;
    align-self: stretch;
    background-color: #111b21;
    color: white;
}

.contact-item {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}


.contact-last-message {
    margin:0;
    color: gray;
}


.search-container {
    padding: 5px;
    background-color: #111b21; 
}

.search-input {
    width: 90%;
    padding: 8px 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #2E2F2F;
    color: #ABAC98; 
}

.search-input::placeholder {
    color: #8696a0;
}

.no-results {
    padding: 20px;
    text-align: center;
    color: #667781;
}


.contact-name {
    font-weight: 600;
    color: white; 
}

.search-wrapper {
    display: flex;
    align-items: center;
    background-color: #2E2F2F;
    border-radius: 10px;
    padding: 5px 10px;
    margin: 10px;
}

.search-icon {
    color: #8696a0;
    margin-right: 5px;
    font-size: 14px;
}