.chat-screen {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-image: url("https://i.ibb.co/smLs6YV/default-wallpaper.png");
    background-size: cover;
}

.chat-header {
    background-color: #111B21;
    display: flex;
    height: 55px;
}

.header-avatar{
    height: 50px;
    border-radius: 30px;
}

.chat-header h2 {
    margin: 0;
    padding: 12px 10px;
    font-size: 16px;
}

.messages {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.message-mine {
    align-self: flex-end;
    background-color: #144D37;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 60%;
}

.message-theirs {
    align-self: flex-start;
    background-color: #111B21;
    color: white;
    padding: 8px 12px;
    border-radius: 10px;
    max-width: 60%;
}

.messages-time{
    color: #A1A2A2;
    
}

