.home-screen {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
    background-color: #111B21;
    color: white;
}

.content-area {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-container {
    text-align: center;
    max-width: 500px;
    color: #e9edef;
}

.download-card {
    background-color: #202c33; 
    padding: 40px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.illustration img {
    width: 250px;
    margin-bottom: 20px;
}

.download-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 300;
}

.download-card p {
    color: #8696a0;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 25px;
}

.btn-download {
    background-color: #00a884; 
    color: #111b21;
    border: none;
    padding: 10px 24px;
    border-radius: 20px;
    font-weight: 600;
    cursor: pointer;
}


.action-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.action-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.icon-box {
    background-color: #202c33;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 24px;
}

.action-item span {
    font-size: 13px;
    color: #8696a0;
}

.illustration{
    background-color: transparent;
}